<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>세종대학교 | SW모니터</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <!-- Bootstrap 3.3.7 -->
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="bower_components/Ionicons/css/ionicons.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="dist/css/AdminLTE.min.css">
  <!-- DataTables -->
  <link rel="stylesheet" href="bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">
  <!-- AdminLTE Skins. We have chosen the skin-blue for this starter
        page. However, you can choose any other skin. Make sure you
        apply the skin class to the body tag so the changes take effect. -->
  <link rel="stylesheet" href="dist/css/skins/skin-red.min.css">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

  <!-- Google Font -->
  <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>

<body class="hold-transition skin-red sidebar-mini">
<div class="wrapper">

  <header class="main-header" style="position: fixed; width: 100%;"></header>
  <aside class="main-sidebar"></aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper"  style="margin-top: 50px;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        SW경시대회
        <small>2018</small>
      </h1>
      <ol class="breadcrumb">

          <a href="#!" data-dismiss="modal" data-toggle="modal" data-target="#modal-chartselector"><i class="fa fa-fw fa-plus-square-o"></i> 차트를 추가하세요.</a>
          <div class="modal fade" id="modal-chartselector">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title text-center">차트 종류를 선택하세요.</h4>
                        </div>
                        <div class="modal-body">

                          <div class="row">
                            <div class="col-md-6">
                              <!-- AREA CHART -->
                              <div class="box box-primary">
                                <div class="box-header with-border">
                                  <h3 class="box-title">Area Chart</h3>

                                  <div class="box-tools pull-right">
                                  </div>
                                </div>
                                <div class="box-body">
                                  <div class="chart">
                                    <a href="#!" data-toggle="modal" data-target="#modal-dataselector" data-dismiss="modal">
                                      <img src="dist/img/areachart.png" style="height: 139px; width: 349px;" width="349" height="139" onclick="localStorage.chart = 'area'"></img>
                                    </a>
                                  </div>
                                </div>
                                <!-- /.box-body -->
                              </div>
                              <!-- /.box -->

                              <!-- DONUT CHART -->
                              <div class="box box-danger">
                                <div class="box-header with-border">
                                  <h3 class="box-title">Donut Chart</h3>

                                  <div class="box-tools pull-right">
                                  </div>
                                </div>
                                <div class="box-body">
                                  <a href="#!" data-toggle="modal" data-target="#modal-dataselector" data-dismiss="modal">
                                    <img src="dist/img/piechart.png" style="height: 184px; width: 369px;" width="369" height="184" onclick="localStorage.chart = 'donut'"></img>
                                  </a>
                                </div>
                                <!-- /.box-body -->
                              </div>
                              <!-- /.box -->

                            </div>
                            <!-- /.col (LEFT) -->
                            <div class="col-md-6">
                              <!-- Flot Bar CHART -->
                              <div class="box box-info">
                                <div class="box-header with-border">
                                  <h3 class="box-title">Flot Bar Chart</h3>
                                </div>
                                <div class="box-body">
                                  <div class="chart">
                                    <a href="#!" data-toggle="modal" data-target="#modal-dataselector" data-dismiss="modal">
                                      <img src="dist/img/flotbarchart.png" style="height: 139px; width: 349px;" width="349" height="139" onclick="localStorage.chart = 'flotbar'"></img>
                                    </a>
                                  </div>
                                </div>
                                <!-- /.box-body -->
                              </div>
                              <!-- /.box -->

                              <!-- BAR CHART -->
                              <div class="box box-success">
                                <div class="box-header with-border">
                                  <h3 class="box-title">Bar Chart</h3>

                                  <div class="box-tools pull-right">
                                  </div>
                                </div>
                                <div class="box-body">
                                  <div class="chart">
                                    <a href="#!" data-toggle="modal" data-target="#modal-dataselector" data-dismiss="modal">
                                      <img src="dist/img/barchart.png" style="height: 128px; width: 349px;" width="349" height="128" onclick="localStorage.chart = 'bar'"></img>
                                    </a>
                                  </div>
                                </div>
                                <!-- /.box-body -->
                              </div>
                              <!-- /.box -->

                            </div>
                            <!-- /.col (RIGHT) -->
                          </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>

            <div class="modal fade" id="modal-dataselector">
                  <div class="modal-dialog modal-lg">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h4 class="modal-title text-center">데이터 종류를 선택하세요.</h4>
                     </div>
                     <div class="modal-body">
                       <div class="row" style="font-size:20px;">
                           <!-- AREA CHART -->
                           <div class="box box-primary">
                             <div class="box-header with-border">
                               <h3 class="box-title">New Chart</h3>
                               <div class="box-tools pull-right">
                               </div>
                             </div>

                           <form method="post" action="/receiver">
                             <div class="box-body">
                               년도&nbsp;&nbsp;
                               <input type="radio" name="year" value="17" selected> 2017</input>&nbsp;&nbsp;
                               <input type="radio" name="year" value="18"> 2018</input>&nbsp;&nbsp;
                               <input type="radio" name="year" value="19"> 2019</input><br><br>
                               학년&nbsp;&nbsp;
                               <input type="radio" name="grade" value="1"> 1</input>&nbsp;&nbsp;
                               <input type="radio" name="grade" value="2"> 2</input>&nbsp;&nbsp;
                               <input type="radio" name="grade" value="3"> 3</input>&nbsp;&nbsp;
                               <input type="radio" name="grade" value="4"> 4</input><br><br>
                               현황&nbsp;&nbsp;
                               <input type="radio" name="contest" value="MJ"> 문제별 점수</input>&nbsp;&nbsp;
                               <input type="radio" name="contest" value="MT"> 문제별 통과 현황</input>&nbsp;&nbsp;
                               <input type="radio" name="contest" value="HP"> 학과별 평균 점수</input><br><br>
                               학과&nbsp;&nbsp;
                               <input type="radio" name="major" value="컴퓨터공학과"> 컴퓨터공학과</input>&nbsp;&nbsp;
                               <input type="radio" name="major" value="창의소프트학부"> 창의소프트학부</input>&nbsp;&nbsp;
                               <input type="radio" name="major" value="소프트웨어학과"> 소프트웨어학과</input>&nbsp;&nbsp;
                               <input type="radio" name="major" value="정보보호학과"> 정보보호학과</input>&nbsp;&nbsp;
                               <input type="radio" name="major" value="지능기전공학부"> 지능기전공학부</input>&nbsp;&nbsp;
                               <input type="radio" name="major" value="데이터사이언스학과"> 데이터사이언스학과</input><br><br>
                               전공 여부&nbsp;&nbsp;
                               <input type="radio" name="specified" value="0"> 비전공자</input>&nbsp;&nbsp;
                               <input type="radio" name="specified" value="1"> 전공자</input><br><br>
                             </div>

                           </div>
                       </div>
                     </div>
                     <div class="modal-footer">
                         <button id="btn-bar-chart" type="button" class="btn btn-default" data-dismiss="modal">제출</button>
                        </div>
                      </div>
                    </div>
                  </div>
        <li><a href="#"><i class="fa fa-dashboard"></i> SW경시대회</a></li>
        <li class="active">차트</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content container-fluid">
        <div class="row">
          <div class="col-md-6 connectedSortable">
              <div id="target-chart">
              </div>
            <!-- AREA CHART -->
            <div id="area-chart" class="box box-primary nav-tabs-custom">
              <div class="box-header with-border nav-tabs">
                <h3 class="box-title">성적 분포도</h3>

                <div class="box-tools pull-right">
                  <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                  </button>
                  <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                </div>
              </div>
              <div class="box-body">
                <div class="chart">
                  <canvas id="areaChart" style="height:250px"></canvas>
                </div>
              </div>
              <!-- /.box-body -->
            </div>
            <!-- /.box -->
            <!-- DONUT CHART -->
            <div class="box box-danger nav-tabs-custom">
              <div class="box-header with-border nav-tabs">
                <i class="fa fa-bar-chart-o"></i>

                <h3 class="box-title">성적 상위 10% 분포</h3>

                <div class="box-tools pull-right">
                  <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                  </button>
                  <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                </div>
              </div>
              <div class="box-body">
                <div id="donut-chart" style="height: 300px;"></div>
              </div>
              <!-- /.box-body-->
            </div>
            <!-- /.box -->
          </div>
          <!-- /.col (LEFT) -->
          <div class="col-md-6 connectedSortable">
            <!-- Bar chart -->
            <div class="box box-primary nav-tabs-custom">
              <div class="box-header with-border nav-tabs">
                <i class="fa fa-bar-chart-o"></i>

                <h3 class="box-title">학과별 성적 그래프</h3>

                <div class="box-tools pull-right">
                  <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                  </button>
                  <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                </div>
              </div>
              <div class="box-body">
                <div id="bar-chart" style="height: 300px;"></div>
              </div>
              <!-- /.box-body-->
            </div>
            <!-- /.box -->

            <!-- BAR CHART -->
            <div class="box box-success nav-tabs-custom">
              <div class="box-header with-border nav-tabs">
                <h3 class="box-title">문제별 통과현황</h3>

                <div class="box-tools pull-right">
                  <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                  </button>
                  <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                </div>
              </div>
              <div class="box-body">
                  <a href="/select">
                <div class="chart">
                    <canvas id="barChart" style="height:250px"></canvas>
                </div>
              </a>
              </div>
              <!-- /.box-body -->
            </div>
            <!-- /.box -->
          </div>
          <!-- /.col (RIGHT) -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->

      <!-- Content Header (Page header) -->
      <section class="content-header">
        <h1 id="table">
          전체 순위
          <small>2018</small>
        </h1>
        <ol class="breadcrumb">
          <li><a href="/"><i class="fa fa-dashboard"></i> SW경시대회</a></li>
          <li class="active">전체순위</li>
        </ol>
      </section>

      <!-- Main content -->
      <section class="content">
        <div class="row">
          <div class="col-xs-12">
            <div class="box">
              <div class="box-header">
                <h3 class="box-title">SW경시대회 실시간 순위</h3>
              </div>
              <!-- /.box-header -->
              <div class="box-body">
                <table id="example1" class="table table-bordered table-striped">
                  <thead>
                  <tr>
                    <th>학번</th>
                    <th>이름</th>
                    <th>학과</th>
                    <th>학년</th>
                    <th>현재 점수</th>
                  </tr>
                  </thead>
                  <tbody>
                  <% for(var i = 0; i < allRanking.length; i++) { %>
                    <tr>
                      <td><%- allRanking[i].ID %></td>
                      <td><%- allRanking[i].Name %></td>
                      <td><%- allRanking[i].Major %></td>
                      <td><%- allRanking[i].Year %></td>
                      <td><%- allRanking[i].SWContest18 %></td>
                    </tr>
                  <% } %>
                  </tfoot>
                </table>
              </div>
              <!-- /.box-body -->
            </div>
            <!-- /.box -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </section>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

  <footer class="main-footer"></footer>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Create the tabs -->
    <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
      <li class="active"><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>
      <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
      <!-- Home tab content -->
      <div class="tab-pane active" id="control-sidebar-home-tab">
        <h3 class="control-sidebar-heading">Recent Activity</h3>
        <ul class="control-sidebar-menu">
          <li>
            <a href="javascript:;">
              <i class="menu-icon fa fa-birthday-cake bg-red"></i>

              <div class="menu-info">
                <h4 class="control-sidebar-subheading">Langdon's Birthday</h4>

                <p>Will be 23 on April 24th</p>
              </div>
            </a>
          </li>
        </ul>
        <!-- /.control-sidebar-menu -->

      </div>
      <!-- /.tab-pane -->
      <!-- Stats tab content -->
      <div class="tab-pane" id="control-sidebar-stats-tab">Stats Tab Content</div>
      <!-- /.tab-pane -->
      <!-- Settings tab content -->
      <div class="tab-pane" id="control-sidebar-settings-tab">
        <form method="post">
          <h3 class="control-sidebar-heading">General Settings</h3>

          <div class="form-group">
            <label class="control-sidebar-subheading">
              Report panel usage
              <input type="checkbox" class="pull-right" checked>
            </label>

            <p>
              Some information about this general settings option
            </p>
          </div>
          <!-- /.form-group -->
        </form>
      </div>
      <!-- /.tab-pane -->
    </div>
  </aside>
  <!-- /.control-sidebar -->
  <!-- Add the sidebar's background. This div must be placed
  immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->

<!-- REQUIRED JS SCRIPTS -->
<!-- html loader -->
<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script type="text/javascript">
      $(function(){
         $(".main-header").load("header")
         $(".main-sidebar").load("sidebar")
         $(".main-footer").load("footer")
      });
</script>
<script>
  $(document).ready(function() {
    $("#btn-area-chart").click(function(){
      console.log(localStorage.chart);
      if(localStorage.chart == 'area') {
        $("#target-chart").load("areachart")

          $.ajax({
          type : "get",
          //dataType: "json"
          data: {'id':'admin'},
          dataType : 'text',

          url : "/scoreChart",
          success : function(data) {
              areaChart(data);
          }
        })
      } else if(localStorage.chart == 'flotbar') {
        $("#target-chart").load("flotBarchart")

          $.ajax({
          type : "get",
          //dataType: "json"
          data: {'id':'admin'},
          dataType : 'text',

          url : "/majorChart",
          success : function(data) {
              flotBarChart(data);
          }
        })
      } else if(localStorage.chart == 'donut') {
        $("#target-chart").load("donutchart")

          $.ajax({
          type : "get",
          //dataType: "json"
          data: {'id':'admin'},
          dataType : 'text',

          url : "/gradeChart",
          success : function(data) {
            flotDonutChart(data);
          }
        })
      } else if(localStorage.chart == 'bar') {
        $("#target-chart").load("barchart")

          $.ajax({
          type : "get",
          //dataType: "json"
          data: {'id':'admin'},
          dataType : 'text',

          url : "/problemChart",
          success : function(data) {
            barChart(data);
          }
        })
      }
    });
  });
</script>
<!-- jQuery 3 -->
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<!-- jQuery UI 1.11.4 -->
<script src="bower_components/jquery-ui/jquery-ui.min.js"></script>
<!-- Bootstrap 3.3.7 -->
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- ChartJS -->
<script src="bower_components/chart.js/Chart.js"></script>
<!-- DataTables -->
<script src="bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<!-- SlimScroll -->
<script src="bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<!-- FastClick -->
<script src="bower_components/fastclick/lib/fastclick.js"></script>
<!-- AdminLTE App -->
<script src="dist/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="dist/js/demo.js"></script>
<!-- FLOT CHARTS -->
<script src="bower_components/Flot/jquery.flot.js"></script>
<!-- FLOT RESIZE PLUGIN - allows the chart to redraw when the window is resized -->
<script src="bower_components/Flot/jquery.flot.resize.js"></script>
<!-- FLOT PIE PLUGIN - also used to draw donut charts -->
<script src="bower_components/Flot/jquery.flot.pie.js"></script>
<!-- FLOT CATEGORIES PLUGIN - Used to draw bar charts -->
<script src="bower_components/Flot/jquery.flot.categories.js"></script>

<!-- chart script -->
<script src="components/js/areaChart.js"></script>
<script src="components/js/flotBarChart.js"></script>
<script src="components/js/flotDonutChart.js"></script>
<script src="components/js/barChart.js"></script>
<!-- table script -->
<script src="components/js/dataTable.js"></script>
<!-- drag&drop script -->
<script src="components/js/dragNDrop.js"></script>
<script>
  $.ajax({
      type : "get",
      //dataType: "json"
      data: {'id':'admin'},
      dataType : 'text',
      url : "/scoreChart",
      success : function(data) {
          areaChart(data);
      }
  })

  var delay = 10000;
  setInterval(function(){
    $.ajax({
      type : "get",
      //dataType: "json"
      data: {'id':'admin'},
      dataType : 'text',
      url : "/scoreChart",
      success : function(data) {
          areaChart(data);
      }
  })}, delay);
</script>
<script>
 function chart(arg) { localStorage.chart = arg; }
 $('#modal-dataselector').on('hidden.bs.modal', function(){
   submission();
 });
</script>
<script>
  $.ajax({
      type : "get",
      //dataType: "json"
      data: {'id':'admin'},
      dataType : 'text',
      url : "/majorChart",
      success : function(data) {
        flotBarChart(data);
      }
  })
</script>
<script>
  $.ajax({
    type : "get",
    //dataType: "json"
    data: {'id':'admin'},
    dataType : 'text',
    url : "/gradeChart",
    success : function(data) {
      flotDonutChart(data);
    }
  })
</script>
<script>
function submission(){
    var datas = {};
    datas['year'] = $("input[name=year]").attr("value");
    datas['grade'] = $("input[name=grade]").attr("value");
    datas['contest'] = $("input[name=contest]").attr("value");
    datas['major'] = $("input[name=major]").attr("value");
    datas['specified'] = $("input[name=specified]").attr("value");

    $.ajax({
       type: "POST",
       url: "/receiver",
       data: datas,
       success: function(result) {
         console.log(result);
          self.close();
       },
       error: function(jqXHR, textStatus, errorThrown) {
          self.close();
       }
    });
  }
</script>

<script>
  $.ajax({
      type : "get",
      //dataType: "json"
      data: {'id':'admin'},
      dataType : 'text',
      url : "/problemChart",
      success : function(data) {
          barChart(data);
      }
  })

  var delay = 10000;
  setInterval(function(){
    $.ajax({
      type : "get",
      //dataType: "json"
      data: {'id':'admin'},
      dataType : 'text',
      url : "/problemChart",
      success : function(data) {
        barChart(data);
      }
    })}, delay);
  </script>
</body>
</html>
